.footer {
    padding: 2rem;
    background-color: #111;
    color: #aaa;
    text-align: center;
  }
  
  /* media queries */
  @media (min-width: 768px) {
    .footer {
      font-size: 1rem;
    }
  }